// Change containers width based on layout choosen

@mixin width($rowItems) {
    $containerSize: calc((var(--icon-bg-s) * $rowItems) + (.25rem * ($rowItems - 1)));
    width: $containerSize;
    @if $rowItems <= 6 {
        margin: 0;
    }
    @else {
        margin: 0 calc((100% - $containerSize) / 2);
    }
}

@for $i from 1 through 6 {
    body[data-layout="#{$i}"] {
        @if $i >= 1 and $i < 5 {
            .hotbars-container,
            .actions-container {
                // .col-12
                flex: 0 0 auto;
                width: 100%;
            }

            @if $i == 1 {
                .hotbars-container .container > div {
                    @include width(12)
                }
            }
            @else if $i == 2 {
                .hotbars-container .container > div {
                    @include width(6)
                }
            }
            @else if $i == 3 {
                .hotbars-container .container > div {
                    @include width(4)
                }
            }
            @else {
                .hotbars-container .container > div {
                    @include width(3)
                }
            }
        }
        @else {
            .hotbars-container,
            .actions-container  {
                // .col-6
                flex: 0 0 auto;
                width: 50%;
            }

            @if $i == 5 {
                .hotbars-container .container > div {
                    @include width(2)
                }
            }
            @else {
                .hotbars-container .container > div {
                    @include width(1)
                }
            }
        }
    }
}
