body:not([data-category="1"]) #job-cat-1-items {
  display: none;
}

body:not([data-category="2"]) #job-cat-2-items {
  display: none;
}

body:not([data-category="3"]) #job-cat-3-items {
  display: none;
}

.actions-container,
.hotbars-container {
  --icon-bg-s: var(--icon-size, 48px);
  --icon-fg-s: calc(var(--icon-bg-s) * 1.1666666667);
  --icon-bg-b: calc((var(--icon-bg-s) * 5) / 48);
  --icon-fg-offset-x: calc(-1 * ((var(--icon-fg-s) * 4) / 56));
  --icon-fg-offset-y: calc(-1 * ((var(--icon-fg-s) * 2) / 56));
  --icon-img-offset-x: calc(-1 * (var(--icon-bg-s) / 2));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}
.actions-container:focus,
.hotbars-container:focus {
  outline: none !important;
}

.actions-container [data-job] {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
body:not([data-job=PLD]) .actions-container [data-job=PLD] {
  display: none !important;
}
body:not([data-job=WAR]) .actions-container [data-job=WAR] {
  display: none !important;
}
body:not([data-job=DRK]) .actions-container [data-job=DRK] {
  display: none !important;
}
body:not([data-job=GNB]) .actions-container [data-job=GNB] {
  display: none !important;
}
body:not([data-job=WHM]) .actions-container [data-job=WHM] {
  display: none !important;
}
body:not([data-job=SCH]) .actions-container [data-job=SCH] {
  display: none !important;
}
body:not([data-job=AST]) .actions-container [data-job=AST] {
  display: none !important;
}
body:not([data-job=SGE]) .actions-container [data-job=SGE] {
  display: none !important;
}
body:not([data-job=MNK]) .actions-container [data-job=MNK] {
  display: none !important;
}
body:not([data-job=DRG]) .actions-container [data-job=DRG] {
  display: none !important;
}
body:not([data-job=NIN]) .actions-container [data-job=NIN] {
  display: none !important;
}
body:not([data-job=SAM]) .actions-container [data-job=SAM] {
  display: none !important;
}
body:not([data-job=RPR]) .actions-container [data-job=RPR] {
  display: none !important;
}
body:not([data-job=BRD]) .actions-container [data-job=BRD] {
  display: none !important;
}
body:not([data-job=MCH]) .actions-container [data-job=MCH] {
  display: none !important;
}
body:not([data-job=DNC]) .actions-container [data-job=DNC] {
  display: none !important;
}
body:not([data-job=BLM]) .actions-container [data-job=BLM] {
  display: none !important;
}
body:not([data-job=SMN]) .actions-container [data-job=SMN] {
  display: none !important;
}
body:not([data-job=RDM]) .actions-container [data-job=RDM] {
  display: none !important;
}
body:not([data-job=BLU]) .actions-container [data-job=BLU] {
  display: none !important;
}
body:not([data-job=CRP]) .actions-container [data-job=CRP] {
  display: none !important;
}
body:not([data-job=BSM]) .actions-container [data-job=BSM] {
  display: none !important;
}
body:not([data-job=ARM]) .actions-container [data-job=ARM] {
  display: none !important;
}
body:not([data-job=GSM]) .actions-container [data-job=GSM] {
  display: none !important;
}
body:not([data-job=LTW]) .actions-container [data-job=LTW] {
  display: none !important;
}
body:not([data-job=WVR]) .actions-container [data-job=WVR] {
  display: none !important;
}
body:not([data-job=ALC]) .actions-container [data-job=ALC] {
  display: none !important;
}
body:not([data-job=CUL]) .actions-container [data-job=CUL] {
  display: none !important;
}
body:not([data-job=MIN]) .actions-container [data-job=MIN] {
  display: none !important;
}
body:not([data-job=BTN]) .actions-container [data-job=BTN] {
  display: none !important;
}
body:not([data-job=FSH]) .actions-container [data-job=FSH] {
  display: none !important;
}

/* Layout 1 - 12 items per row */
body[data-layout="1"] .hotbars-container .hotbar {
  width: calc(var(--icon-bg-s) * 12 + 2.75rem);
  margin: 0 calc((100% - (var(--icon-bg-s) * 12 + 2.75rem)) / 2);
}

/* Layout 2 - 6 items per row */
body[data-layout="2"] .hotbars-container .hotbar {
  width: calc(var(--icon-bg-s) * 6 + 1.25rem);
  margin: 0;
}

/* Layout 3 - 4 items per row */
body[data-layout="3"] .hotbars-container .hotbar {
  width: calc(var(--icon-bg-s) * 4 + 0.75rem);
  margin: 0;
}

/* Layout 4 - 3 items per row */
body[data-layout="4"] .hotbars-container .hotbar {
  width: calc(var(--icon-bg-s) * 3 + 0.5rem);
  margin: 0;
}

/* Layout 5 - 2 items per row */
body[data-layout="5"] .hotbars-container .hotbar {
  width: calc(var(--icon-bg-s) * 2 + 0.25rem);
  margin: 0;
}

/* Layout 6 - 1 items per row */
body[data-layout="6"] .hotbars-container .hotbar {
  width: calc(var(--icon-bg-s) * 1 + 0rem);
  margin: 0;
}

.item {
  position: relative;
  width: var(--icon-bg-s);
  height: var(--icon-bg-s);
  border-radius: var(--icon-bg-b);
  background: url("/img/actions/background.png") no-repeat;
  background-size: var(--icon-bg-s) var(--icon-bg-s);
  font-size: 0;
}
body:not([data-job-mode="1"]) .item.parent.pve, body:not([data-job-mode="2"]) .item.parent.pvp {
  display: none;
}
.item.child {
  z-index: 3;
}
.item::before {
  content: "";
  position: absolute;
  top: var(--icon-fg-offset-y);
  left: var(--icon-fg-offset-x);
  z-index: 2;
  display: block;
  width: var(--icon-fg-s);
  height: var(--icon-fg-s);
  background: url("/img/actions/foreground.png") no-repeat;
  background-size: cover;
}
.item img {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  display: inline-block;
  width: var(--icon-bg-s);
  height: var(--icon-bg-s);
  margin-left: var(--icon-img-offset-x);
}

.hotbars-container .hotbar {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
.hotbars-container [data-slot] {
  width: var(--icon-bg-s);
  height: var(--icon-bg-s);
  border-radius: 5px;
  background-color: lightslategray;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.hotbars-container #dragged-item {
  position: absolute;
  top: 0;
  left: 0;
}

#macro textarea {
  min-height: 20rem;
  font-family: monospace;
}

/*# sourceMappingURL=style.css.map */
