body:not([data-category="1"]) #job-cat-1-items {
  display: none;
}

body:not([data-category="2"]) #job-cat-2-items {
  display: none;
}

body:not([data-category="3"]) #job-cat-3-items {
  display: none;
}

body:not([data-job]) #actions > div {
  display: none;
}

body:not([data-job=PLD]) #actions [data-job=PLD] {
  display: none !important;
}

body:not([data-job=WAR]) #actions [data-job=WAR] {
  display: none !important;
}

body:not([data-job=DRK]) #actions [data-job=DRK] {
  display: none !important;
}

body:not([data-job=GNB]) #actions [data-job=GNB] {
  display: none !important;
}

body:not([data-job=WHM]) #actions [data-job=WHM] {
  display: none !important;
}

body:not([data-job=SCH]) #actions [data-job=SCH] {
  display: none !important;
}

body:not([data-job=AST]) #actions [data-job=AST] {
  display: none !important;
}

body:not([data-job=SGE]) #actions [data-job=SGE] {
  display: none !important;
}

body:not([data-job=MNK]) #actions [data-job=MNK] {
  display: none !important;
}

body:not([data-job=DRG]) #actions [data-job=DRG] {
  display: none !important;
}

body:not([data-job=NIN]) #actions [data-job=NIN] {
  display: none !important;
}

body:not([data-job=SAM]) #actions [data-job=SAM] {
  display: none !important;
}

body:not([data-job=RPR]) #actions [data-job=RPR] {
  display: none !important;
}

body:not([data-job=BRD]) #actions [data-job=BRD] {
  display: none !important;
}

body:not([data-job=MCH]) #actions [data-job=MCH] {
  display: none !important;
}

body:not([data-job=DNC]) #actions [data-job=DNC] {
  display: none !important;
}

body:not([data-job=BLM]) #actions [data-job=BLM] {
  display: none !important;
}

body:not([data-job=SMN]) #actions [data-job=SMN] {
  display: none !important;
}

body:not([data-job=RDM]) #actions [data-job=RDM] {
  display: none !important;
}

body:not([data-job=BLU]) #actions [data-job=BLU] {
  display: none !important;
}

body:not([data-job=CRP]) #actions [data-job=CRP] {
  display: none !important;
}

body:not([data-job=BSM]) #actions [data-job=BSM] {
  display: none !important;
}

body:not([data-job=ARM]) #actions [data-job=ARM] {
  display: none !important;
}

body:not([data-job=GSM]) #actions [data-job=GSM] {
  display: none !important;
}

body:not([data-job=LTW]) #actions [data-job=LTW] {
  display: none !important;
}

body:not([data-job=WVR]) #actions [data-job=WVR] {
  display: none !important;
}

body:not([data-job=ALC]) #actions [data-job=ALC] {
  display: none !important;
}

body:not([data-job=CUL]) #actions [data-job=CUL] {
  display: none !important;
}

body:not([data-job=MIN]) #actions [data-job=MIN] {
  display: none !important;
}

body:not([data-job=BTN]) #actions [data-job=BTN] {
  display: none !important;
}

body:not([data-job=FSH]) #actions [data-job=FSH] {
  display: none !important;
}

body[data-layout="1"] .hotbars-container,
body[data-layout="1"] .actions-container {
  flex: 0 0 auto;
  width: 100%;
}
body[data-layout="1"] .hotbars-container > div {
  width: calc(var(--icon-bg-s) * 12 + 2.75rem);
}

body[data-layout="2"] .hotbars-container,
body[data-layout="2"] .actions-container {
  flex: 0 0 auto;
  width: 100%;
}
body[data-layout="2"] .hotbars-container > div {
  width: calc(var(--icon-bg-s) * 6 + 1.25rem);
}

body[data-layout="3"] .hotbars-container {
  flex: 0 0 auto;
  width: 25%;
}
body[data-layout="3"] .actions-container {
  flex: 0 0 auto;
  width: 75%;
}
body[data-layout="3"] .hotbars-container > div {
  width: calc(var(--icon-bg-s) * 4 + 0.75rem);
}

body[data-layout="4"] .hotbars-container {
  flex: 0 0 auto;
  width: 25%;
}
body[data-layout="4"] .actions-container {
  flex: 0 0 auto;
  width: 75%;
}
body[data-layout="4"] .hotbars-container > div {
  width: calc(var(--icon-bg-s) * 3 + 0.5rem);
}

body[data-layout="5"] .hotbars-container {
  flex: 0 0 auto;
  width: 25%;
}
body[data-layout="5"] .actions-container {
  flex: 0 0 auto;
  width: 75%;
}
body[data-layout="5"] .hotbars-container > div {
  width: calc(var(--icon-bg-s) * 2 + 0.25rem);
}

body[data-layout="6"] .hotbars-container,
body[data-layout="6"] .actions-container {
  flex: 0 0 auto;
  width: 50%;
}
body[data-layout="6"] .hotbars-container > div {
  width: calc(var(--icon-bg-s) * 1 + 0rem);
}

img:not([src]) {
  visibility: hidden;
}

.hotbars-container,
.actions-container {
  --icon-bg-s: var(--icon-size, 48px);
  --icon-fg-s: calc(var(--icon-bg-s) * 1.1666666667);
  --icon-bg-b: calc((var(--icon-bg-s) * 5) / 48);
  --icon-fg-offset-x: calc(-1 * ((var(--icon-fg-s) * 4) / 56));
  --icon-fg-offset-y: calc(-1 * ((var(--icon-fg-s) * 2) / 56));
  --icon-img-offset-x: calc(-1 * (var(--icon-bg-s) / 2));
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.hotbars-container:focus,
.actions-container:focus {
  outline: none !important;
}

.hotbars-container > div [data-slot] {
  width: var(--icon-bg-s);
  height: var(--icon-bg-s);
  border-radius: 5px;
  background-color: lightslategray;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.item {
  position: relative;
  width: var(--icon-bg-s);
  height: var(--icon-bg-s);
  border-radius: var(--icon-bg-b);
  background: url("/img/actions/background.png") no-repeat;
  background-size: var(--icon-bg-s) var(--icon-bg-s);
  font-size: 0;
}
.item.child {
  z-index: 3;
}
.item::before {
  content: "";
  position: absolute;
  top: var(--icon-fg-offset-y);
  left: var(--icon-fg-offset-x);
  z-index: 2;
  display: block;
  width: var(--icon-fg-s);
  height: var(--icon-fg-s);
  background: url("/img/actions/foreground.png") no-repeat;
  background-size: cover;
}
.item img {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  display: inline-block;
  width: var(--icon-bg-s);
  height: var(--icon-bg-s);
  margin-left: var(--icon-img-offset-x);
}/*# sourceMappingURL=style.css.map */