// Variables

$layouts: 12 6 4 3 2 1;
$resizeRatio: calc(((56 * 100) / 48) / 100) !default;

$tank: PLD WAR DRK GNB;
$healer: WHM SCH AST SGE;
$melee: MNK DRG NIN SAM RPR;
$pranged: BRD MCH DNC;
$mranged: BLM SMN RDM BLU;
$crafter: CRP BSM ARM GSM LTW WVR ALC CUL;
$gatherer: MIN BTN FSH;
$job-groups: $tank $healer $melee $pranged $mranged $crafter $gatherer;

// Mixins

@mixin iconCustomProperties {
    $ratio: $resizeRatio;
    --icon-bg-s: var(--icon-size, 48px);
    --icon-fg-s: calc(var(--icon-bg-s) * #{$ratio});
    --icon-bg-b: calc((var(--icon-bg-s) * 5) / 48);
    --icon-fg-offset-x: calc(-1 * ((var(--icon-fg-s) * 4) / 56));
    --icon-fg-offset-y: calc(-1 * ((var(--icon-fg-s) * 2) / 56));
    --icon-img-offset-x: calc(-1 * (var(--icon-bg-s) / 2));
}
