@import "base";

#hotbars {
    @include iconCustomProperties;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;

    &:focus {
        outline: none !important;
    }

    & > div:not([id]) {
        justify-items: center;
    }

    .hotbar {
        display: grid;
        gap: .25rem;
    }

    @for $i from 1 through 6 {
        $items: nth($layouts, $i);
    
        /* Layout #{$i} - #{$items} items per row */

        body[data-layout="#{$i}"] & {
            & > div:not([id]) {
                @if $i < 6 {
                    grid-template-columns: repeat($i, 1fr);
                }
                @else if $i == 6 {
                    grid-template-columns: repeat(10, 1fr);
                }
            }
            .hotbar {
                grid-template-columns: repeat($items, var(--icon-bg-s));
            }
        }
    }

    [data-slot] {
        width: var(--icon-bg-s);
        height: var(--icon-bg-s);
        border-radius: 5px;

        background-color: lightslategray;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, 
            rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
}

#dragged-item {
    position: absolute;
    top: 0;
    left: 0;
}
