@import "base";

.actions-container, 
.hotbars-container {
    @include iconCustomProperties;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(.25rem * 3);

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;

    &:focus {
        outline: none !important;
    }
}

.actions-container {
    .pve, .pvp {
        display: flex;
        flex-wrap: wrap;
    }

    @each $group in $job-groups {
        @each $job in $group {
            body:not([data-job="#{$job}"]) & {
                [data-job="#{$job}"] {
                    display: none !important;
                }
            }
        }
    }

    body:not([data-job]) #actions > div {
        display: none;
    }
}

// Set hotbars width based on layout picker

@for $i from 1 through 6 {
    $items: nth($layouts, $i);

    /* Layout #{$i} - #{$items} items per row */

    body[data-layout="#{$i}"] {
        .hotbars-container [data-hotbar] {
            @include setHotbarWidth($items)
        }
    }
}
