@import "base";

@for $i from 1 through 3 {
    $attribute: '[data-category="#{$i}"]';

    body:not(#{$attribute}) {
        #job-cat-#{$i}-items {
            display: none;
        }
    }
}

#actions {
    @include iconCustomProperties;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;

    &:focus {
        outline: none !important;
    }

    [data-job] {
        display: grid;
        grid-template-columns: repeat(8, minmax(max-content, 1fr));
        row-gap: .25rem;
        justify-items: center;
    }

    @each $group in $job-groups {
        @each $job in $group {
            body:not([data-job="#{$job}"]) & [data-job="#{$job}"] {
                display: none !important;
            }
        }
    }
}