@use "variables";
@use "categories";
@use "jobs";
@use "layouts";

img:not([src]) {
    visibility: hidden;
}

@mixin icon-variables {
    $ratio: variables.$resizeRatio;
    --icon-bg-s: var(--icon-size, 48px);
    --icon-fg-s: calc(var(--icon-bg-s) * #{$ratio});
    --icon-bg-b: calc((var(--icon-bg-s) * 5) / 48);
    --icon-fg-offset-x: calc(-1 * ((var(--icon-fg-s) * 4) / 56));
    --icon-fg-offset-y: calc(-1 * ((var(--icon-fg-s) * 2) / 56));
    --icon-img-offset-x: calc(-1 * (var(--icon-bg-s) / 2));
}

#hotbar {
    @include icon-variables;

    [data-slot] {
        width: var(--icon-bg-s);
        height: var(--icon-bg-s);
        border-radius: 5px;

        background-color: lightslategray;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
}

#actions {
    @include icon-variables;
}

.item {
    position: relative;

    width: var(--icon-bg-s);
    height: var(--icon-bg-s);
    border-radius: var(--icon-bg-b);

    background: url("/img/actions/background.png") no-repeat;
    background-size: var(--icon-bg-s) var(--icon-bg-s);
    font-size: 0;

    &.child {
        z-index: 3;
    }

    &::before {
        content: "";

        position: absolute;
        top: var(--icon-fg-offset-y);
        left: var(--icon-fg-offset-x);
        z-index: 2;
    
        display: block;
        width: var(--icon-fg-s);
        height: var(--icon-fg-s);
        
        background: url("/img/actions/foreground.png") no-repeat;
        background-size: cover;
    }

    img {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 1;
    
        display: inline-block;
        width: var(--icon-bg-s);
        height: var(--icon-bg-s);
        margin-left: var(--icon-img-offset-x);
    }
}
